:root { 
--white_A700_7f:#ffffff7f; 
--green_500_14:#3cb44b14; 
--black_900_b2:#000000b2; 
--black_900_5e:#0000005e; 
--blue_gray_100_66:#d9d9d966; 
--red_A400_3d:#ee00333d; 
--black_900_1e:#0000001e; 
--red_100:#ffd6d6; 
--red_A400_93:#ee003393; 
--black_900_01:#0f0f0f; 
--black_900_00:#00000000; 
--black_900:#000000; 
--red_A400_cc:#ee0033cc; 
--blue_gray_100_1c:#d9d9d91c; 
--red_A400:#ee0033; 
--gray_800_b5:#3e3e3eb5; 
--blue_gray_700:#535353; 
--blue_gray_900:#2d2c4d; 
--black_900_05:#00000005; 
--gray_600:#707070; 
--gray_400:#c5c5c5; 
--blue_gray_100:#d9d9d9; 
--gray_500:#949494; 
--indigo_A200_14:#5469e014; 
--gray_900:#27282a; 
--gray_900_01:#1f2326; 
--black_900_0f:#0000000f; 
--red_A400_14:#ee003314; 
--gray_200:#ececec; 
--gray_100:#f5f5f5; 
--black_900_a5:#000000a5; 
--gray_100_02:#f6f6f6; 
--white_A700_66:#ffffff66; 
--white_A700_00:#ffffff00; 
--black_900_99:#00000099; 
--gray_400_01:#c4c4c4; 
--red_A400_00:#ee003300; 
--gray_100_01:#f3f3f3; 
--red_A400_66:#ee003366; 
--red_A400_01:#f00033; 
--black_900_51:#00000051; 
--white_A700:#ffffff; 
}